/target

/out

/projects

# Ignore profiling files
flamegraph.folded
flamegraph.svg
playground/PerroDevRuntime.exe
PerroDevRuntime
perro_editor/perro_engine.png
perro_editor/perro_engine.desktop
perro_core/src/scene.rs
perro_dev/perro_dev_runtime.desktop
perro_dev/perro_dev_runtime.png
perro_dev/perrodevruntime.desktop
icon.icns
icons.icns
Info.plist
.DS_Store

# Perro editor sourcemap
sourcemap.toml
**/sourcemap.toml
unit_tests/transpiler_test/.perro/scripts/sourcemap.toml
