[package]
name = "perro_core"
version = "0.1.0"
edition = "2024"

[lib]
name = "perro_core"
path = "src/lib.rs"

[dependencies]
serde = { version = "1.0", features = ["derive","rc"] }
serde_json = "1.0"
bincode = "1.3"
rand = "0.8"

winit = { version = "0.30.8" }
env_logger = {version = "0.11.5"}
log = { version = "0.4.22"}
wgpu = { version = "24.0.1"}
pollster = {version ="0.4.0"}
bytemuck = "1.10"
glam = "0.26"
image = "0.24"
uuid = { version = "1.4", features = ["serde", "v4"] }
enum_dispatch = "0.3"
indexmap = { version = "1.9", features = ["serde"] }

libloading = "0.8"
anyhow      = "1"

eyre    = "0.6"




[[bin]]
name = "perro_core"
path = "src/main.rs"


[profile.hotreload]
inherits = "dev"
opt-level = 0
incremental = true
debug = true