# Ignore Perro build artifacts
builds/

/.perro/project/src/static_assets/
/.perro/project/embedded_assets/

/assets.brk

build.log

/icon.ico

# Ignore profiling files
flamegraph.folded
flamegraph.svg

# Ignore target directories (should use workspace root target via CARGO_TARGET_DIR)
target/
/.perro/project/target/
/.perro/scripts/target/