PERRO_SITE_URL=http://127.0.0.1:3000
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_PORTAL_URL=https://billing.stripe.com/p/login/replace_me

STRIPE_PRICE_MONTHLY_BRONZE=price_replace_me
STRIPE_PRICE_MONTHLY_SILVER=price_replace_me
STRIPE_PRICE_MONTHLY_GOLD=price_replace_me
STRIPE_PRICE_MONTHLY_PLATINUM=price_replace_me
STRIPE_PRICE_MONTHLY_TITANIUM=price_replace_me
STRIPE_PRICE_MONTHLY_DIAMOND=price_replace_me
STRIPE_PRICE_MONTHLY_EMERALD=price_replace_me

STRIPE_PRICE_CORPORATE_BRONZE=price_replace_me
STRIPE_PRICE_CORPORATE_SILVER=price_replace_me
STRIPE_PRICE_CORPORATE_GOLD=price_replace_me
STRIPE_PRICE_CORPORATE_PLATINUM=price_replace_me
STRIPE_PRICE_CORPORATE_TITANIUM=price_replace_me
STRIPE_PRICE_CORPORATE_DIAMOND=price_replace_me
STRIPE_PRICE_CORPORATE_EMERALD=price_replace_me
